{% extends "base/base.html" %}
{% load static %}
{% block start %}
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Cart</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  {% csrf_token %}
                  <div class="site-blocks-table">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Image</th>
                          <th scope="col">Product</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                          <th scope="col">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <th class="sr" scope="row">{{ forloop.counter }}</th>
                          <td>
                            <img class="" style="width: 100px;" src="/media/{{ item.product.product_images.first.images }}" alt="Product Image">
                          </td>
                          <td class="productName">
                            <h2 class="h5 text-black"> {{ item.product.product_name }} </h2>
                            {% if item.color_variant %}
                              <strong>Color: {{ item.color_variant }} </strong> <br>
                            {% endif %}
                            {% if item.size_variant %}
                              <strong>Size: {{item.size_variant}} </strong>
                            {% endif %}
                          </td>
                          <td class="productPrice"> {{item.item_price}} </td>
                          <td> 
                            <div class="d-flex justify-content-center">
                              <div>
                                <button type="button" class="minus">&minus;</button>
                              </div>
                              <div>
                                <input type="text" style="width: 100px; margin-left: 5px; margin-right: 5px; text-align: center; border: 0; border-radius: 10px;" readonly value="1" class="qty">
                              </div>
                              <div>
                                <button type="button" class="plus">&plus;</button>
                              </div>
                            </div>
                          </td>
                          <td class="totalPrice"> {{item.item_price}} </td>
                          <td>
                            <a href="{% url 'delete' item.uid %}" class="btn btn-black btn-sm">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                              </svg>
                          </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                  </div>
                  <button type="submit">Submit</button>
                </form>
              </div>
        
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <button class="btn btn-black btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="text-black h4" for="coupon">Coupon</label>
                      <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                      <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-black">Apply Coupon</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <span class="text-black">Subtotal</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">$230.00</strong>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">$230.00</strong>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-md-12">
                          <a href="{% url 'checkout' %}">
                            <button class="nav-item btn btn-black btn-lg py-3 btn-block">
                              Proceed To Checkout
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		

		{% endblock %}