echo "asgiref==3.8.1" >> requirements.txt
echo "Django==5.0.4" >> requirements.txt
echo "Pillow==8.3.0" >> requirements.txt
echo "sqlparse==0.4.4" >> requirements.txt
echo "typing-extensions==4.10.0" >> requirements.txt
