.minus, .plus {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    padding: 1px;
}

.totalPrice {
    background: transparent;
    font-size: 18px;
    border: 0;
    width: 100px;
    text-align: center;
}