{% extends "base/base.html" %}
{% load static %}
{% block start %}

<div class="container">
    <div class="row m-2">

        {% include "base/alert.html" %}

        <div class="col-lg-6 col-md-12">
            <div style="max-height: 50vh;" class="image-main-div border-right shadow-sm p-3 mb-1 bg-body rounded overflow-hidden ">
                <div class="main-image">
                    <img style="transform: translateY(-20%);" class="w-100" src="/media/{{product.product_images.first.images}}" alt="product-1">
                </div>
            </div>
            <div class="image-sub-div d-flex justify-content-around">
                {% for image in product.product_images.all %}
                    {% if forloop.counter <= 4 %}
                        <div style="max-height: 150px;" class="sub-image overflow-hidden w-25 border shadow-sm m-3 bg-body rounded">
                            <img class="w-100" src="/media/{{image.images}}" alt=" {{ product.product_name }} ">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>



        <div class="col-lg-6 col-md-12 detail">
            <div class="px-5 py-5">
                <h1 class="text-black">{{ product.product_name }}</h1>
                <h4> {{ product.product_category.category_name }} </h4>
                <strong class="fw-light">
                    TK-
                    {% if updated_price %}
                       <del style="opacity: 50%;"> {{ product.product_price }} </del> {{ updated_price }}  
                    {% else %}
                        {% if product.discount_price %}
                            <del style="opacity: 50%;"> {{ product.product_price }} </del> {{ product.discount_price }}
                        {% else %}
                            {{ product.product_price }}
                        {% endif %}
                    {% endif %}
                </strong>
                <p class="mt-5"> {{ product.product_description }} </p>
            </div>

            <div class="row px-5 py-1">
               
                {% if product.size_variant.all %}
                    <div>
                        <h6>Select Size</h6>
                        {% for size in product.size_variant.all %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" {% if selected_size == size.size_name %} checked="" {% endif %} type="radio" onchange="get_size('{{ size.size_name }}')" value="{{ size.size_name }}" />
                                <label class="form-check-label" for="inlineRadio{{ forloop.counter }}">{{ size.size_name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if product.color_variant.all %}
            <div class="px-5 py-1">
                <h6> Select Color</h6>
                {% for color in product.color_variant.all %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="get_color( '{{color.color_name}}' )" type="radio" value="{{ color.color_name }}" {% if selected_color == color.color_name %} checked="" {% endif %} >
                    <label class="form-check-label"> {{ color.color_name }} </label>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <a href="{% url 'add_cart' product.uid %}?size={{ selected_size }}&color={{selected_color}}&price={% if updated_price %}{{ updated_price }}{% elif product.discount_price %}{{ product.discount_price }}{% else %}{{ product.product_price }}{% endif %}" class="btn btn-outline-primary">
                        Add to cart
                    </a>
                </div> 
                <div class="col-6 text-center">
                    <button class="btn" type="submit">Order Now</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
// Function to update URL with size parameter
function get_size(size) {
    var currentUrl = window.location.pathname;
    var params = new URLSearchParams(window.location.search);
    params.set('size', size);
    window.location.href = currentUrl + '?' + params.toString();
}

// Function to update URL with color parameter
function get_color(color) {
    var currentUrl = window.location.pathname;
    var params = new URLSearchParams(window.location.search);
    params.set('color', color);
    window.location.href = currentUrl + '?' + params.toString();
}



</script>

{% endblock %}
