{% extends "base/base.html" %}
{% load static %}
{% block start %}

<div class="container">
    <div class="row m-2">

        <div class="product-image col-6">
            <div style="max-height: 50vh;" class="image-main-div border-right shadow-sm p-3 mb-1 bg-body rounded overflow-hidden ">
                <div class="main-image">
                    <img style="transform: translateY(-20%);" class="w-100" src="/media/{{ product.product_images.last.images }}" alt="product-1">
                </div>
            </div>
            <div class="image-sub-div d-flex justify-content-around">
                {% for image in product.product_images.all %}
                    {% if forloop.counter <= 4 %}
                        <div style="max-height: 150px;" class="sub-image overflow-hidden w-25 border shadow-sm m-3 bg-body rounded">
                            <img class="w-100" src="/media/{{ image.images }}" alt=" {{ product.product_name }} ">
                        </div>
                    {% endif %}
                {% endfor %}
            
            </div>
        </div>
        <div class="col-6 detail">
            <div class="px-5 py-5">
                <h1 class="text-black">{{ product.product_name }}</h1>
                <h4> {{ product.product_category.category_name }} </h4>
                <h4 class="fw-light"> TK- {{ product.product_price }} </h4>

                <p class="mt-5"> {{ product.product_description }} </p>
            </div>

            <div class="row px-5 py-1">
                <div class="col-6">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" id="">
                </div>
                {% if product.size_variant.all %}
                <div class="col-6" >
                    <h6> Select Size</h6>
                    {% for size in product.size_variant.all %}
                    <div class="form-check form-check-inline">
                        {% if forloop.first %}
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{ forloop.counter }}" value="{{ size.size_name }}" checked>
                        {% else %}
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{ forloop.counter }}" value="{{ size.size_name }}">
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio{{ forloop.counter }}"> {{ size.size_name }} </label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>

            {% if product.color_variant.all %}
            <div class="px-5">
                <h6> Select Color</h6>
                {% for color in product.color_variant.all %}
                <div class="form-check form-check-inline">
                    {% if forloop.first %}
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{ forloop.counter }}" value="{{ color.color_name }}" checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{ forloop.counter }}" value="{{ color.color_name }}">
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio{{ forloop.counter }}"> {{ color.color_name }} </label>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            
            
            
        </div>
    </div>
</div>

{% endblock %}